#home-wrap {
  @include flex-display(flex, column, space-between, 100%, center);
  //position: fixed;
  margin: auto;
  top: 30%;
  @-moz-document url-prefix() {
    position: sticky;
  }
  @include media(landscape) {
    margin: auto;
  }

  .main-meme {
    text-align: center;
    @include font-fam-size(2.6em, $main-font-2, bold, #333333);
    @include media(landscape) {
    }
    @include media(tablet) {
      font-size: 3.5em;
    }
  }
  .front-end {
    @include font-fam-size(1.4em, $main-font-2, bold, #333333);
    border-radius: 50%;
    @include media(tablet) {
      font-size: 2em;
    }
  }
}

#projects {
  @include flex-display(flex, column, space-between, 100%, center);

  @include media(tablet) {
    width: 100%;
    padding-top: 20px;

  }
  @include media(laptop) {
    padding-top: 0;
    //width: 90%;
  }
  @include media(desktop) {
    //width: 80%;
  }
  @include media(landscape) {
    margin: auto;
  }

  .port-head {
    opacity: 0;
    @include font-fam-size(3em, $main-font-5, bold, #333333);

    position: relative;
    margin: 8px auto;
    @include media(landscape) {
      display: none;
    }
    @include media(tablet) {
      opacity: 0;
      top: 0;
    }
    @include media(laptop) {
      margin: 20px auto;
    }
    @include media(desktop) {
      margin: 20px auto;
    }
  }
  .works {
    @include flex-display(flex, column, space-between, auto, center);
    padding: 10px 0;
    img {
      height: 120px;
      width: 120px;
      border-radius: 20px;
    }
  }
}

#mobile-portfolio {

  @include flex-display(flex, column, space-around, 100%, center);
  padding:0 1em;
  @include media(landscape) {

    @include flex-display(flex, row, space-evenly, 100%, center);
    flex-wrap: wrap;
  }
  @include media(tablet) {
    padding: 0;
    @include flex-display(flex, row, space-around, 100%, center);
    margin: 1em auto;
  }
  @include media(laptop) {


  }
  .last {
    margin-left: 200px;
  }
  .work-mobile {
    z-index: 2;
    @include flex-display(flex, column, center, 100%, center);

    margin: 2em auto;

    @include media(landscape) {
      @include flex-display(flex, column, space-around, 20%, center);
      width: 33%;
    }
    @include media(tablet) {
      opacity: 1;
      flex-direction: column;
      width: 20%;
      margin: 0;
    }
    .img-border {

      margin-bottom: 1em;
      @include media(landscape) {
        width: 80%;
      }

      @include media(tablet) {
        width: auto;

        border-radius: 10%;
        cursor: pointer;
        transition: all 0.7s;
        margin: 8px 0;
        //box-shadow: 0 0 0 5px hsl(0, 0%, 70%), 0 0 0 10px hsl(0, 0%, 80%),
        //  0 0 0 15px hsl(0, 0%, 90%);

        &:hover {
          //box-shadow: 0 0 0 10px hsl(15, 76%, 70%), 0 0 0 20px hsl(30, 76%, 70%);
        }

      }
      img {
        max-width: 100%;
        height: auto;
        @include media(tablet) {
          //border-radius: 50%;
          max-width: 100%;
          width: 100px;
          height: auto;
        }

        @include media(laptop) {

          width: 170px;

        }

      }
    }
    .active {
      @include media(tablet) {
        background-color: hsl(15, 76%, 70%);
            box-shadow: 0 0 0 5px hsl(15, 76%, 70%), 0 0 0 10px hsl(30, 76%, 70%),
          0 0 0 15px hsl(44, 76%, 70%);
      }
    }
    .caption {
      @include font-fam-size(1.2em, $main-font-2, bolder);

      margin: auto 0;
      //padding-left: 1.6em;
      cursor: pointer;
      @include media(mobile-l) {
       font-size: 1.3em;
      }
      @include media(landscape) {
        margin: 10px 0;
        text-align: center;
        padding: 0;
        width: 60%;
        font-size: 1em;
      }
      @include media(tablet) {
        background-color: transparent;
        color: #383838;
        font-size: 1em;
        padding: 5px;
        width: 100%;
        text-align: center;
        margin: .3em 0 0 0;
      }
      @include media(desktop) {
      font-size: 1.4em;

      }
    }
  }
}

.about-main {
  transition: all 0.5s;
  @include flex-display(flex, column, space-between, 100%, center);
  margin: auto;
  //margin-bottom: 15%;
  @include media(tablet) {
    padding: 2em 0;
    //width: 80%;
  }
  @include media(laptop) {
    //width: 80%;
    background-color: #fff;

    //margin-bottom: 7em;
  }
  @include media(4k) {
    width: 70%;
    background-color: #fff;
    //height: 40vh;
    margin: auto;
  }
  @include media(landscape) {
    margin-bottom: 0;
  }
}
.about-me-info {
  padding: 1em;
  @include media(tablet) {
    padding: 0 ;
  }
  @include media(laptop) {
    padding: 0 2em;
  }
  h3{
    @include font-fam-size(2em, $main-font-2, bold, #333333);
    width: 100%;
    text-align: left;
    margin-bottom: 1em;
    @include media(tablet) {
      padding: 0 ;

    }
    @include media(laptop) {
      text-align: left;
    }
  }
  .about-me-info__info{
    .about-me-info__info--img{
      width: 50%;
      float: right;
      margin: 0 0 .5em .5em;
      @include media(laptop) {
        width: 30%;
      }
      @include media(desktop) {
        width: 20%;
      }

      img{
        max-width: 100%;
        height: auto;
      }
    }
    p {
      @include font-fam-size(1em, Futura, 500, $about-text);
      text-align: -webkit-left;
      margin: 0.5em 0;
      @include media(tablet) {
        //padding: 1em 0;
        @include font-fam-size(1.2em, Futura, 400, $about-text);
        margin: auto;
        margin-bottom: .5em;
        width: 100%;
      }
      @include media(laptop) {

        font-size: 1.4em;
        font-weight: 500;
        line-height: 36px;
      }
      @include media(desktop) {
        @include font-fam-size(1.4em, Futura, 400, $about-text);
        //padding: 15px 10px;

      }
    }
  }
}

.skills-main-area{
  @include media(tablet) {
    padding: 0;
  }
  @include media(laptop) {
   background-color: #fff;
    padding: 2em ;
  }

  .skills-title__block{
    width: 100%;
    @include media(tablet) {

    }
    .skills-title__block--title {
      @include font-fam-size(2em, $main-font-2, bold, #333333);
      text-align: left;
      margin-bottom: 1em ;
      @include media(tablet) {
        padding: 0 ;
        font-size: 2.2em;

      }
      @include media(laptop) {

        text-align: left;
      }
    }
  }

}
.closing-info{

  p{
    @include font-fam-size(1em, Futura, 500, $about-text);
    text-align: left;
    @include media(tablet) {
      //padding: 1em 0;
      @include font-fam-size(1.2em, Futura, 400, $about-text);

    }
    @include media(laptop) {
      //width: 80%;
      font-size: 1.4em;
      font-weight: 600;
    }
    @include media(desktop) {
      @include font-fam-size(1.4em, Futura, 400, $about-text);


    }
  }


}

.skills-main {
  @include flex-display(flex, column, space-around, 100%, center);
  @include media(tablet) {
    //padding-bottom: 1em;

  }
  @include media(desktop) {
    //padding-bottom: 2em;

  }



}


.skills {
  @include flex-display(flex, column, center, 100%);



  @include media(tablet) {
    @include flex-display(flex, column, center, 100%);
  }



  .skills__col {
    @include flex-display(flex, column, space-around, 100%, center);
    margin: 1em 0;

      h2{
        @include font-fam-size(1.4em, Futura, 200, $about-text);
        width: 100%;
        margin: .5rem 0;
        text-align: left;


        @include media(tablet) {
          @include font-fam-size(1.3em, Futura, 600, $about-text);
          text-align: left;
        }
        @include media(laptop) {
          font-size: 1.4em;
        }
      }
    .skills__col--svg {
      padding: 1em;
      @include media(laptop) {
        padding: 2em  2em;
      }

      @include media(desktop) {
        padding: 2em  4em;
      }

      svg {
        margin:1em;
        max-width: 45px;
        max-height: 45px;
        @include media(mobile-l) {
          max-width: 55px;
          max-height: 55px;

        }

        @include media(tablet) {

          max-width: 60px;
          max-height: 60px;
        }
        @include media(laptop) {
          max-width: 80px;
          max-height: 80px;
        }
      }

      height: 100%;
      //opacity: 0;
      transition: all 0.5s;
      @include flex-display(flex, row, space-evenly, 100%);

      flex-wrap: wrap;

    }
  }
  .logo-skill {
    max-width: 100%;
    height: auto;
    width: 30px;
    margin: 6px;
    @include media(tablet) {
      width: 40px;
    }

    @include media(laptop) {
      width: 50px;
      margin: 0.7em;
    }
  }
}

//background for skills
//orange
.fe{
  background-color: #95B8D1;

}
//ghahv
.be{
  background-color: #C8BFC7;

}
//zard
.do{
  background-color: #E7724B;
}






.contact {
  @include flex-display(flex, column, space-around, 100%, center);
   padding :1em 0;
  @include media(laptop) {
    //opacity: 0;
  }
  h3 {

    @include media(landscape) {
      font-size: 1.5em;
    }
    @include font-fam-size(1.7em, $main-font-2, 200, #333333);
    @include media(tablet) {
      font-size: 2.5em;
    }
  }
  .number-email {
    @include flex-display(flex, column, space-around, 100%, center);

    @include media(tablet) {
      justify-content: space-between;

      margin: 10px auto;
      font-size: 1.3em;
    }
    @include media(laptop) {
      width: 80%;



    }
    @include media(desktop) {
      font-size: 1.8em;
      width: 60%;
    }
    a {
      @include font-fam-size(.8em, $main-font, 200, #919191);
      //text-decoration: underline;
      @include media(tablet) {
        color: #616161;
        font-size: 1.4em;
      }
    }
  }
}
