.click-button{
  text-align: center;
  background-color: #333333;
  font-size: 1em;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  color: #ffffff;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  padding: .3em;
}



.modal-header {
  width: 100%;
  padding: 0 10px;
  float: right;
  border: none;
  .close {
    font-size: 34px;
    @include media(landscape) {
      font-size: 25px;
    }
  }
}
