.navbar {
  background: #000;
  width: 100%;
  transition: background .2s ease-in-out;
  //@include media(laptop) {
  //  //width: 0%;
  //}

  h1 {
    display: inline-block;
    @include font-fam-size(2.2em, asli, bold, $text-black-m);
    margin: auto 40px;
  }
  .navbar-toggler {
    font-size: 1.9em;
    outline: none;
  }
}
.fade-in{
  background: $grey;

}
